services:
  db:
    image: {{ images['postgres'] }}
    container_name: nextcloud_pgsql
    restart: always
    networks:
      - traefik_traefik
    environment:
      - TZ={{ timezone }}
    env_file:
      - db.env
    volumes:
      - {{ docker_path }}/nextcloud/db:/var/lib/postgresql

  nextcloud:
    image: {{ images['nextcloud'] }}
    container_name: nextcloud
    environment:
      - TZ={{ timezone }}
    env_file:
      - nc.env
    volumes:
      - {{ docker_path }}/nextcloud/data:/var/www/html
    depends_on:
      - db
    restart: unless-stopped
    extra_hosts:
      - "nc.nuc-server.lan:127.0.0.1"
    networks:
      - traefik_traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nc.rule=Host(`nc.{{ domain }}`)"
      - "traefik.http.routers.nc.entrypoints=websecure"
      - "traefik.http.routers.nc.tls=true"
      - "traefik.http.services.nc.loadbalancer.server.port=80"
      - "traefik.http.routers.nc.middlewares=hsts@file"

  nextcloud_cron:
    image: {{ images['nextcloud'] }}
    container_name: nextcloud_cron
    environment:
      - TZ={{ timezone }}
    env_file:
      - nc.env
    volumes:
      - {{ docker_path }}/nextcloud/data:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - nextcloud
    restart: unless-stopped
    extra_hosts:
      - "nc.nuc-server.lan:127.0.0.1"
    networks:
      - traefik_traefik

networks:
  traefik_traefik:
    external: true
