services:
  db:
    image: {{ images['postgres'] }}
    restart: always
    networks:
      - traefik_traefik
    environment:
      - TZ={{ timezone }}
    env_file:
      - db.env
    volumes:
      - {{ docker_path }}/nextcloud/db:/var/lib/postgresql

  nextcloud:
    image: {{ images['nextcloud'] }}
    container_name: nextcloud
    environment:
      - TZ={{ timezone }}
    env_file:
      - nc.env
    volumes:
      - {{ docker_path }}/nextcloud/data:/var/www/html
    links:
      - db
    restart: unless-stopped
    networks:
      - traefik_traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nc.rule=Host(`nc.{{ domain }}`)"
      - "traefik.http.routers.nc.entrypoints=websecure"
      - "traefik.http.routers.nc.tls=true"
      - "traefik.http.services.nc.loadbalancer.server.port=80"

networks:
  traefik_traefik:
    external: true
