services:
  traefik:
    image: {{ images['traefik'] }}
    container_name: traefik
    restart: unless-stopped
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    environment:
      - TZ={{ timezone }}
      - SPACESHIP_API_KEY=${SPACESHIP_API_KEY}
      - SPACESHIP_API_SECRET=${SPACESHIP_API_SECRET}
    ports:
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker_path }}/traefik/ssl:/certs:ro"
      - "{{ docker_path }}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ docker_path }}/traefik/dynamic:/etc/traefik/dynamic"
      - "{{ docker_path }}/traefik/letsencrypt:/letsencrypt"
    networks:
      - traefik

networks:
  traefik: {}
