[Unit]
Description=Step TLS Renewer for Traefik
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ username }}
ExecStart=/usr/local/bin/step ca renew --daemon --exec "docker restart traefik" {{ docker_path }}/traefik/ssl/cert.crt {{ docker_path }}/traefik/ssl/cert.key

[Install]
WantedBy=multi-user.target
