[Unit]
Description=Run ansible-pull every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true
Unit=ansible-pull.service

[Install]
WantedBy=timers.target
