tls:
  stores:
    default:
      defaultCertificate:
        certFile: "/certs/cert.crt"
        keyFile: "/certs/cert.key"

http:
  serversTransports:
    insecureTransport:
      insecureSkipVerify: true
