---
# code: language=ansible

- name: Install Docker
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - fuse-overlayfs
    state: present
    update_cache: true

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: true

- name: Enable Docker service
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true
