---
# code: language=ansible

- name: Add folders for Traefik files
  ansible.builtin.file:
    path: "/home/{{ username }}/docker/{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0755'
  loop:
    - traefik
    - traefik/ssl

- name: Check if the cert file exists
  ansible.builtin.stat:
    path: "{{ docker_path }}/traefik/ssl/cert.crt"
  register: fcrt

- name: Get cert expiration
  community.crypto.x509_certificate_info:
    path: "{{ docker_path }}/traefik/ssl/cert.crt"
  register: cert
  when: fcrt.stat.exists

- name: Roate cert if expires in < 30 days
  ansible.builtin.file:
    path: "{{ docker_path }}/traefik/ssl/{{ item  }}"
    state: absent
  loop:
    - cert.crt
    - cert.key
  when: cert.not_after | to_datetime('%Y%m%d%H%M%SZ') <
        (ansible_date_time.iso8601 | to_datetime + timedelta(days=30))

- name: Create private key (RSA, 4096 bits)
  community.crypto.openssl_privatekey:
    path: "{{ docker_path }}/traefik/ssl/cert.key"

- name: Create CSR for self-signed certificate
  community.crypto.openssl_csr_pipe:
    privatekey_path: "{{ docker_path }}/traefik/ssl/cert.key"
    common_name: "*.{{ domain }}"
    subject_alt_name:
      - "DNS:*.{{ domain }}"
      - "DNS:{{ domain }}"
  register: csr

- name: Create self-signed certificate from CSR
  community.crypto.x509_certificate:
    path: "{{ docker_path }}/traefik/ssl/cert.crt"
    csr_content: "{{ csr.csr }}"
    privatekey_path: "{{ docker_path }}/traefik/ssl/cert.key"
    provider: ownca
    ownca_path: "/home/{{ username }}/ca/ca.crt"
    ownca_privatekey_path: "/home/{{ username }}/ca/ca.key"
    ownca_not_after: +365d  # valid for one year
    ownca_not_before: "-1d"  # valid since yesterday

- name: Change ownership for cert and key
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ username }}"
    group: "{{ username }}"
  loop:
    - "{{ docker_path }}/traefik/ssl/cert.key"
    - "{{ docker_path }}/traefik/ssl/cert.crt"

- name: Add traefik config file
  ansible.builtin.copy:
    src: traefik/
    dest: "{{ docker_path }}/traefik"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Create Docker Compose file
  ansible.builtin.template:
    src: traefik-compose.yml.j2
    dest: "{{ docker_path }}/traefik/docker-compose.yml"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Launch Traefik service
  community.docker.docker_compose_v2:
    project_src: "{{ docker_path }}/traefik"
    recreate: auto
    remove_orphans: false
