---
# code: language=ansible

- name: Copy Traefik static config
  ansible.builtin.copy:
    src: traefik/traefik.yml
    dest: "{{ docker_path }}/traefik/traefik.yml"
    mode: '0644'

- name: Create Docker Compose file
  ansible.builtin.template:
    src: traefik-compose.yml.j2
    dest: "{{ docker_path }}/traefik/docker-compose.yml"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Launch Traefik service
  community.docker.docker_compose_v2:
    project_src: "{{ docker_path }}/traefik"
    recreate: auto
    remove_orphans: false
    pull: missing
    state: present
