[Unit]
Description=Run ansible-pull
Wants=ansible-pull.timer

[Service]
User=root
WorkingDirectory=/root
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U {{ repo_url }} playbook.yml"

[Install]
WantedBy=multi-user.target
